- var socialsContactsItem = [ "twitter", "facebook", "google", "skype-1"]

mixin socials(items, blockName)
    ul(class="#{blockName}")
        each item in items
            li(class="#{blockName}__items")
                if items==socialsContactsItem
                    a(href="#", class="#{blockName}__items-icon #{blockName}__items-icon_#{item} icon-#{item}")
                else
                    a(href="#", class="#{blockName}__items-icon icon-#{item}")
section.section-page.contacts#contacts
    .section-container
        h2.section_header Contact us
        p.section-guides_text.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
        .section-contacts_block

            form(action="" method="post" name="form").contacts_form
                input(type="text" name="name" placeholder="Name").contacts_form__name
                input(type="email" name="mail" placeholder="Email").contacts_form__mail
                textarea(placeholder="Message" name="message").contacts_form__message
                button(type="submit").contacts_form__btn Contact
            .contacts_info
                .contacts_info__phone
                    h3.contacts_info__header Telephone
                    p.contacts_info__txt.
                        +08 (123) 234 567 <br>
                        +08 (321) 123 876
                .contacts_info__adress
                    h3.contacts_info__header Adress
                    ul.contacts_info__adress-list
                        li.contacts_info__adress-item Golden Beach florencia  north frlicjita lorem
                .contacts_info__socials
                    +socials(socialsContactsItem,"contacts_socials-list")