doctype html
- var user="Karine G"
- var menuItem = ["Blog", "News", "Gallery", "Price", "Services", "Shedule", "Contacts"]
- var menuFooter = ["Blog", "News", "Contacts"]
- var socialsItem = ["facebook", "twitter", "gplus-1"]
- var socialsContactsItem = [ "twitter", "facebook", "google", "skype-1"]
mixin menu(items, blockName)
    ul(class="#{blockName}")
        each item, ind in items
            if ind==5
                li(class="#{blockName}__item active")
                    a(href="#", class="#{blockName}__link") #{item}
            else
                li(class="#{blockName}__item")
                    a(href="#", class="#{blockName}__link") #{item}
mixin socials(items, blockName)
    ul(class="#{blockName}")
        each item in items
            li(class="#{blockName}__items")
                if items==socialsContactsItem
                    a(href="#", class="#{blockName}__items-icon #{blockName}__items-icon_#{item}")
                else
                    a(href="#", class="#{blockName}__items-icon icon-#{item}")
html
    head
        meta(charset="UTF-8")
        //Просим IE переключиться в последний режим
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title Oceanarium
        //SEO
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="author" content="")
        //favicon.ico
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        //FONTS
        link(href="https://fonts.googleapis.com/css?family=Underdog&amp;subset=cyrillic" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet")
        link(href="css/fontello.css" rel="stylesheet")
        //[if IE 7]link(rel="stylesheet" href="css/fontello-ie7.css")//[endif]
        //build:css css/vendor.css
        link(href="css/fractionslider.css" rel="stylesheet")
        //bower:css
        //endbower
        //endbuild
        //build:css css/style.css
        link(rel="stylesheet", media="all", type="text/css", href="css/style.css")
        //endbuild
    body
        .main
            header.section-page
                .slider_block
                    .slider_block__item(style="background-image: url(img/slider/slide1.jpg)" data-in="fade")
                        .slider_block__maintext(data-in="top" data-delay="200" data-out="top" data-step="1" data-time="2250")
                            h1.slider_block__heading oceanarium
                            h2.slider_block__subheading on the golden beach

                        .slider_block__text.slider_block__text_bottom(data-in="bottom" data-delay="200" data-out="top" data-step="2" data-time="5250").
                            We are an oceanarium on the Golden Beach. Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa
                            qui officia deserunt mollit anim id est laborum.
                        .slider_block__image.slider_block__image_fish(data-special="cycle" data-delay="200" data-in="right" data-step="3" data-time="6000"): img(src="img/slider/fish_many.png")
                    .slider_block__item(style="background-image: url(img/slider/slide2.jpg)" data-in="fade")
                        .slider_block__text_item(data-in="right" data-step="1") Text1
                        .slider_block__text_item(data-in="right" data-step="2") Text2
                        .slider_block__text_item(data-in="right" data-step="3") Text3
                        .slider_block__text_item(data-in="right" data-step="4") Text4
                    .slider_block__item(style="background-image: url(img/slider/slide3.jpg)" data-in="fade")
                        .slider_block__image.slider_block__image_fish1-slide3(data-delay="2000" data-in="right" data-out="none" data-step="1" data-time="4500"): img(src="img/slider/fish2.png")
                        .slider_block__image.slider_block__image_fish2-slide3(data-delay="2000" data-in="bottomLeft" data-out="none" data-step="2" data-time="4500"): img(src="img/slider/fish3.png")
                        .slider_block__image.slider_block__image_fish3-slide3(data-delay="2500" data-in="topLeft" data-out="none" data-step="2" data-time="8500"): img(src="img/slider/fish4.png")
                    .fs_loader
                .header_wrapper
                   .container
                       nav.header-navigation_panel
                           .header_logo
                               a(href="#").header_logo__link
                                    span.header_logo__link-blue Океан
                                    |ариум
                           +menu(menuItem, "header_menu")
            section.section-page.block_categories
                .section-container
                    h2.section_header we work every day
                    .block_categories__row
                        .block_categories__item
                            .block_categories__picture-wrap
                                a(href="#").block_categories__picture.block_categories__picture_birds
                                a(href="#").block_categories__picture-hover.block_categories__picture_birds-hover
                            h3.block_categories__name: a(href="#") bad birds
                            p.block_categories__text.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.
                        .block_categories__item
                            .block_categories__picture-wrap
                                a(href="#").block_categories__picture.block_categories__picture_whales
                                a(href="#").block_categories__picture-hover.block_categories__picture_whales-hover
                            h3.block_categories__name: a(href="#") nice mammals
                            p.block_categories__text.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.
                        .block_categories__item
                            .block_categories__picture-wrap
                                a(href="#").block_categories__picture.block_categories__picture_reptiles
                                a(href="#").block_categories__picture-hover.block_categories__picture_reptiles-hover
                            h3.block_categories__name: a(href="#") funny reptiles
                            p.block_categories__text.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.
                    .block_categories__row
                        .block_categories__item
                            .block_categories__picture-wrap
                                a(href="#").block_categories__picture.block_categories__picture_insects
                                a(href="#").block_categories__picture-hover.block_categories__picture_insects-hover
                            h3.block_categories__name: a(href="#") fast insects
                            p.block_categories__text.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.
                        .block_categories__item
                            .block_categories__picture-wrap
                                a(href="#").block_categories__picture.block_categories__picture_great-animals
                                a(href="#").block_categories__picture-hover.block_categories__picture_great-animals-hover
                            h3.block_categories__name: a(href="#") Great animals
                            p.block_categories__text.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.
                        .block_categories__item
                            .block_categories__picture-wrap
                                a(href="#").block_categories__picture.block_categories__picture_clams
                                a(href="#").block_categories__picture-hover.block_categories__picture_clams-hover
                            h3.block_categories__name: a(href="#") suspicious clams
                            p.block_categories__text.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.
            section.section-page.gallery-shark-wrap
                .gallery-shark
                .gallery-shark__text.item-centered
                        h2.section_header.section_header_white.section_header_text_centered and very good shark
                        button.gallery-shark__btn view gallery
            section.section-page.future_events
                .section-container
                    h2.section_header future events
                    .future-events_period
                        a(href="#").future-events_period__item
                            span.future-events_period__item-text This week
                        a(href="#").future-events_period__item
                            span.future-events_period__item-text.active This month
                                span.future-events_period__item-update +2
                        a(href="#").future-events_period__item
                            span.future-events_period__item-text This year
                    .future-events_pagination
                        a(href="#").future-events_pagination__prev.icon-left-dir
                        span.future-events_pagination__page-number 1
                        span.future-events_pagination__total-pages 26
                        a(href="#").future-events_pagination__next.icon-right-dir
                    .future-events_block
                        .future-events_block__row
                            .future-events_item
                                .future-events_item__picture-wrap
                                    img(src="img/future-events/eventpost1.jpg" alt="" title="").future-events_item__picture
                                    .future-events_date
                                        .future-events_date__day 26
                                        .future-events_date__monthYear feb, 2017
                                .future-events_item__text
                                    .future-events_item__header Lorem ipsum dolor sit amet
                                    p.future-events_item__description Consectetur adipisicing elit, sed do adipisicing elit sed do
                            .future-events_item
                                .future-events_item__picture-wrap
                                    img(src="img/future-events/eventpost2.jpg" alt="" title="").future-events_item__picture
                                    .future-events_date
                                        .future-events_date__day 27
                                        .future-events_date__monthYear feb, 2017
                                .future-events_item__text
                                    .future-events_item__header Lorem ipsum dolor sit amet
                                    p.future-events_item__description Consectetur adipisicing elit, sed do consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.
                            .future-events_item
                                .future-events_item__picture-wrap
                                    img(src="img/future-events/eventpost3.jpg" alt="" title="").future-events_item__picture
                                    .future-events_date
                                        .future-events_date__day 1
                                        .future-events_date__monthYear mar, 2017
                                .future-events_item__text
                                    .future-events_item__header Lorem ipsum dolor sit amet
                                    p.future-events_item__description Consectetur adipisicing elit, sed do consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.
                        .future-events_block__row
                            .future-events_item
                                .future-events_item__picture-wrap
                                    img(src="img/future-events/eventpost4.jpg" alt="" title="").future-events_item__picture
                                    .future-events_date
                                        .future-events_date__day 2
                                        .future-events_date__monthYear mar, 2017
                                .future-events_item__text
                                    .future-events_item__header Lorem ipsum dolor sit amet
                                    p.future-events_item__description Consectetur adipisicing elit, sed do consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.
                            .future-events_item
                                .future-events_item__picture-wrap
                                    img(src="img/future-events/eventpost5.jpg" alt="" title="").future-events_item__picture
                                    .future-events_date
                                        .future-events_date__day 6
                                        .future-events_date__monthYear mar, 2017
                                .future-events_item__text
                                    .future-events_item__header Lorem ipsum dolor sit amet
                                    p.future-events_item__description Consectetur adipisicing elit, sed do consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.
                            .future-events_item
                                .future-events_item__picture-wrap
                                    img(src="img/future-events/eventpost6.jpg" alt="" title="").future-events_item__picture
                                    .future-events_date
                                        .future-events_date__day 10
                                        .future-events_date__monthYear mar, 2017
                                .future-events_item__text
                                    .future-events_item__header Lorem ipsum dolor sit amet
                                    p.future-events_item__description Consectetur adipisicing elit, sed do consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.
            section.section-page.todays-events
                .section-container
                    h2.section_header todays events
                    .todays-events_block
                        .today-events_calendar-block
                            table.today-events_calendar
                                thead.today-events_calendar-nav
                                    tr
                                        td(colspan=9)
                                            .today-events_calendar-header-month
                                                a(href="#").today-events_calendar-header-month__month-prev.icon-left-dir
                                                .today-events_calendar-header-month__current
                                                    .today-events_calendar-header-month__current-month August
                                                    .today-events_calendar-header-month__current-year 2017
                                                    .today-events_calendar-header-month__current-fulldate today is
                                                        span.today-events_calendar-header-month__current-fulldate.today-events_calendar-header-month__current-fulldate_content 23 aug 2017
                                                a(href="#").today-events_calendar-header-month__month-next.icon-right-dir
                                thead.today-events_calendar__header-daysofweek-wrap
                                    tr.today-events_calendar__header-daysofweek
                                        th.today-events_calendar__dayofweek mon
                                        th.today-events_calendar__dayofweek tue
                                        th.today-events_calendar__dayofweek wed
                                        th.today-events_calendar__dayofweek thu
                                        th.today-events_calendar__dayofweek fri
                                        th.today-events_calendar__dayofweek sat
                                        th.today-events_calendar__dayofweek sun
                                tbody.today-events_calendar__body
                                    tr.today-events_calendar__row
                                        td.today-events_calendar__day.today-events_calendar__day_othermonth 30
                                        td.today-events_calendar__day.today-events_calendar__day_othermonth 31
                                        td.today-events_calendar__day 1
                                        td.today-events_calendar__day 2
                                        td.today-events_calendar__day 3
                                        td.today-events_calendar__day 4
                                        td.today-events_calendar__day 5
                                    tr.today-events_calendar__row
                                        td.today-events_calendar__day 6
                                        td.today-events_calendar__day 7
                                        td.today-events_calendar__day.today-events_calendar__day_present 8
                                        td.today-events_calendar__day 9
                                        td.today-events_calendar__day 10
                                        td.today-events_calendar__day 11
                                        td.today-events_calendar__day 12
                                    tr.today-events_calendar__row
                                        td.today-events_calendar__day 13
                                        td.today-events_calendar__day 14
                                        td.today-events_calendar__day 15
                                        td.today-events_calendar__day 16
                                        td.today-events_calendar__day 17
                                        td.today-events_calendar__day 18
                                        td.today-events_calendar__day 19
                                    tr.today-events_calendar__row
                                        td.today-events_calendar__day 20
                                        td.today-events_calendar__day 21
                                        td.today-events_calendar__day 22
                                        td.today-events_calendar__day.today-events_calendar__day_future 23
                                        td.today-events_calendar__day 24
                                        td.today-events_calendar__day 25
                                        td.today-events_calendar__day 26
                                    tr.today-events_calendar__row
                                        td.today-events_calendar__day 27
                                        td.today-events_calendar__day 28
                                        td.today-events_calendar__day 29
                                        td.today-events_calendar__day 30
                                        td.today-events_calendar__day 31
                                        td.today-events_calendar__day.today-events_calendar__day_othermonth 1
                                        td.today-events_calendar__day.today-events_calendar__day_othermonth 2
                            ul.today-events_prices
                                li.today-events_prices__item
                                    .today-events_prices__item-name Diving
                                    .today-events_prices__item-price from
                                        span.today-events_prices__price-value 100$
                                li.today-events_prices__item
                                    .today-events_prices__item-name Photography
                                    .today-events_prices__item-price from
                                        span.today-events_prices__price-value 30$
                                li.today-events_prices__item
                                    .today-events_prices__item-name VIP tours
                                    .today-events_prices__item-price from
                                        span.today-events_prices__price-value 80$
                                li.today-events_prices__item
                                    .today-events_prices__item-name Celebration
                                    .today-events_prices__item-price from
                                        span.today-events_prices__price-value 40$
                        .today-events_events-block
                            .today-events_session
                                .today-events_session-start
                                    .today-events_session-clock
                                        .today-events_session-clock__arrow
                                    .today-events_session-header
                                        span.today-events_session-header__time 12.00
                                        | start of the session
                                .today-events_session-content
                                    ul.today-events_session-content-prices
                                        li.today-events_session-content-prices__item adult ticket -
                                            span.today-events_session-content-prices__value 20$
                                        li.today-events_session-content-prices__item child ticket -
                                            span.today-events_session-content-prices__value 10$
                                    p.today-events_session-content__text.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                                        .
                            .today-events_session
                                .today-events_session-start
                                    .today-events_session-clock
                                        .today-events_session-clock__arrow
                                    .today-events_session-header
                                        span.today-events_session-header__time 15.30
                                        | start of the session
                                .today-events_session-content
                                    ul.today-events_session-content-prices
                                        li.today-events_session-content-prices__item adult ticket -
                                            span.today-events_session-content-prices__value 20$
                                        li.today-events_session-content-prices__item child ticket -
                                            span.today-events_session-content-prices__value 10$
                                    p.today-events_session-content__text.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                                        .
                            .today-events_session
                                .today-events_session-start
                                    .today-events_session-clock
                                        .today-events_session-clock__arrow
                                    .today-events_session-header
                                        span.today-events_session-header__time 18.00
                                        | start of the session
                                .today-events_session-content
                                    ul.today-events_session-content-prices
                                        li.today-events_session-content-prices__item adult ticket -
                                            span.today-events_session-content-prices__value 20$
                                        li.today-events_session-content-prices__item child ticket -
                                            span.today-events_session-content-prices__value 10$
                                    p.today-events_session-content__text.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                                        .


            section.section-page.section-guides
                .section-container
                    h2.section_header Meet our guides
                    p.section-guides_text.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    .section-guides_block
                        .section-guides_block__row
                            .section-guides_item
                                .section-guides_item__picture(style="background-image: url(img/guid/guid1.jpg);")
                                .section-guides_info
                                    .section-guides_info__txt
                                        .section-guides_info__name Anastasia Lakomaja
                                        .section-guides_info__activities trainer
                                    +socials(socialsItem,"section-guides_socials")
                            .section-guides_item
                                .section-guides_item__picture(style="background-image: url(img/guid/guid2.jpg);")
                                .section-guides_info
                                    .section-guides_info__txt
                                        .section-guides_info__name James Calabrio
                                        .section-guides_info__activities PhD
                                    +socials(socialsItem,"section-guides_socials")
                            .section-guides_item
                                .section-guides_item__picture(style="background-image: url(img/guid/guid3.jpg);")
                                .section-guides_info
                                    .section-guides_info__txt
                                        .section-guides_info__name Nicol Mira
                                        .section-guides_info__activities trainer
                                    +socials(socialsItem,"section-guides_socials")
                            .section-guides_item
                                .section-guides_item__picture(style="background-image: url(img/guid/guid4.jpg);")
                                .section-guides_info
                                    .section-guides_info__txt
                                        .section-guides_info__name Vanessa Delphino
                                        .section-guides_info__activities trainer
                                    +socials(socialsItem,"section-guides_socials")
            section.section-page.contacts
                .section-container
                    h2.section_header Contact us
                    p.section-guides_text.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.
                    .section-contacts_block

                        form(action="" method="post" name="form").contacts_form
                            input(type="text" name="name" placeholder="Name").contacts_form__name
                            input(type="email" name="mail" placeholder="Email").contacts_form__mail
                            textarea(placeholder="Message" name="message").contacts_form__message
                            button(type="submit").contacts_form__btn Contact
                        .contacts_info
                            .contacts_info__phone
                                h3.contacts_info__header Telephone
                                p.contacts_info__txt.
                                  +08 (123) 234 567 <br>
                                  +08 (321) 123 876
                            .contacts_info__adress
                                h3.contacts_info__header Adress
                                ul.contacts_info__adress-list
                                    li.contacts_info__adress-item Golden Beach florencia  north frlicjita lorem
                            .contacts_info__socials
                                +socials(socialsContactsItem,"contacts_socials-list")
            section.section-page
                .gallery
                    .gallery-inner
                        .gallery_item
                            a(href="#").gallery_item__pic-wrapper
                                img(src="img/gallery/gallery1.jpg" alt="" title="").gallery_item__picture
                                .gallery_item__hover
                                    .gallery_item__hover-text.item-centered view
                        .gallery_item
                            a(href="#").gallery_item__pic-wrapper
                                img(src="img/gallery/gallery2.jpg" alt="" title="").gallery_item__picture
                                .gallery_item__hover
                                    .gallery_item__hover-text.item-centered view
                        .gallery_item
                            a(href="#").gallery_item__pic-wrapper
                                img(src="img/gallery/gallery3.jpg" alt="" title="").gallery_item__picture
                                .gallery_item__hover
                                    .gallery_item__hover-text.item-centered view
                        .gallery_item
                            a(href="#").gallery_item__pic-wrapper
                                img(src="img/gallery/gallery4.jpg" alt="" title="").gallery_item__picture
                                .gallery_item__hover
                                    .gallery_item__hover-text.item-centered view
                        .gallery_item
                            a(href="#").gallery_item__pic-wrapper
                                img(src="img/gallery/gallery5.jpg" alt="" title="").gallery_item__picture
                                .gallery_item__hover
                                    .gallery_item__hover-text.item-centered view
                        .gallery_item
                            a(href="#").gallery_item__pic-wrapper
                                img(src="img/gallery/gallery6.jpg" alt="" title="").gallery_item__picture
                                .gallery_item__hover
                                    .gallery_item__hover-text.item-centered view
                        .gallery_item
                            a(href="#").gallery_item__pic-wrapper
                                img(src="img/gallery/gallery7.jpg" alt="" title="").gallery_item__picture
                                .gallery_item__hover
                                    .gallery_item__hover-text.item-centered view
                        .gallery_item
                            a(href="#").gallery_item__pic-wrapper
                                img(src="img/gallery/gallery8.jpg" alt="" title="").gallery_item__picture
                                .gallery_item__hover
                                    .gallery_item__hover-text.item-centered view
                footer.footer © 2013-2017 Dalechuk Inna, Inc. All rights reserved
        //build:js scripts/vendor.js
        //bower:js
        //endbower
        script(type="text/javascript" src="js/jquery.fractionslider.js")
        script(type="text/javascript" src="js/jquery.ripples.js")
        //endbuild
        //build:js js/main.js
        script(src="js/main.js")
        script(src="js/plugins.js")
        //endbuild
        <!-- HelloPreload http://hello-site.ru/preloader/ -->
        <style type="text/css">#hellopreloader>p{display:none;}#hellopreloader_preload{display: block;position: fixed;z-index: 99999;top: 0;left: 0;width: 100%;height: 100%;min-width: 1000px;background: #19B5FE url(http://hello-site.ru//main/images/preloads/puff.svg) center center no-repeat;background-size:171px;}</style>
        <div id="hellopreloader"><div id="hellopreloader_preload"></div><p><a href="http://hello-site.ru">Hello-Site.ru. Бесплатный конструктор сайтов.</a></p></div>
        <script type="text/javascript">var hellopreloader = document.getElementById("hellopreloader_preload");function fadeOutnojquery(el){el.style.opacity = 1;var interhellopreloader = setInterval(function(){el.style.opacity = el.style.opacity - 0.05;if (el.style.opacity <=0.05){ clearInterval(interhellopreloader);hellopreloader.style.display = "none";}},16);}window.onload = function(){setTimeout(function(){fadeOutnojquery(hellopreloader);},1000);};</script>
        <!-- HelloPreload http://hello-site.ru/preloader/ -->
