doctype html


- var socialsContactsItem = [ "twitter", "facebook", "google", "skype-1"]

mixin socials(items, blockName)
    ul(class="#{blockName}")
        each item in items
            li(class="#{blockName}__items")
                if items==socialsContactsItem
                    a(href="#", class="#{blockName}__items-icon #{blockName}__items-icon_#{item} icon-#{item}")
                else
                    a(href="#", class="#{blockName}__items-icon icon-#{item}")
html
    head
        meta(charset="UTF-8")
        //Просим IE переключиться в последний режим
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title Oceanarium
        //SEO
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="author" content="")
        //favicon.ico
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        //FONTS
        link(href="https://fonts.googleapis.com/css?family=Underdog&amp;subset=cyrillic" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet")
        link(href="css/fontello.css" rel="stylesheet")
        //[if IE 7]link(rel="stylesheet" href="css/fontello-ie7.css")//[endif]
        //build:css css/vendor.css
        <link rel="stylesheet" href="css/idangerous.chopslider-3.4.css"/>
        link(href="css/fractionslider.css" rel="stylesheet")
        //bower:css
        //endbower
        //endbuild
        //build:css css/style.css
        link(rel="stylesheet", media="all", type="text/css", href="css/style.css")
        //endbuild
    body
        .main
            include _header
            include _categories
            include _gallery-shark
            include _future-events
            include _todays-events
            include _guides
            include _contacts
            include _gallery
        //bower:js
        //endbower
        //build:js scripts/vendor.js
        <script src="js/idangerous.chopslider-3.4.min.js"></script>
        script(type="text/javascript" src="js/jquery.ripples.js")
        //script(type="text/javascript" src="js/jquery.flip.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js")
        //endbuild
        //build:js js/main.js
        script(src="js/main.js")
        script(src="js/plugins.js")
        //endbuild
        <!-- HelloPreload http://hello-site.ru/preloader/ -->
        <style type="text/css">#hellopreloader>p{display:none;}#hellopreloader_preload{display: block;position: fixed;z-index: 99999;top: 0;left: 0;width: 100%;height: 100%;min-width: 1000px;background: #19B5FE url(http://hello-site.ru//main/images/preloads/puff.svg) center center no-repeat;background-size:171px;}</style>
        <div id="hellopreloader"><div id="hellopreloader_preload"></div><p><a href="http://hello-site.ru">Hello-Site.ru. Бесплатный конструктор сайтов.</a></p></div>
        <script type="text/javascript">var hellopreloader = document.getElementById("hellopreloader_preload");function fadeOutnojquery(el){el.style.opacity = 1;var interhellopreloader = setInterval(function(){el.style.opacity = el.style.opacity - 0.05;if (el.style.opacity <=0.05){ clearInterval(interhellopreloader);hellopreloader.style.display = "none";}},16);}window.onload = function(){setTimeout(function(){fadeOutnojquery(hellopreloader);},1000);};</script>
        <!-- HelloPreload http://hello-site.ru/preloader/ -->